django==1.9
psycopg2
gunicorn
requests
djangorestframework==3.3
django-rest-swagger
django-filter

django-jenkins
coverage==3.7.1
django-extensions

mock
responses
ipdb
ipython

microclient

django_nose
django-cors-headers
pinocchio
nose-html-reporting
nose-exclude
